*{
    margin: 0px;
    padding: 0px;
}
body{
width: 100%;

}

.bloc_vert_haut{
    width: 100%;
    height: 500px;
    background-color:#74C69D;
}
.icon{
    margin-bottom: 20px;
    padding: 10px;
}
/* .div{
    width: 100px;
    height: 100px;
} */
.bloc_vert_haut div{
    display: inline-block;
}
.bloc_vert_haut {
    display: inline-block;
}
.equipe{
    position: relative;
    bottom: 20px;
    margin-left: 1000px;
}
a{
    color:#fff   
}

a:link{
    text-decoration: none;
}
a:hover{
    color: #bb1deb;
    
}
.navigation{
    font-size: 30px;
    position: relative;
    bottom: 42px;
    left: 773px;
    
}
.navigation a{
    margin: 20px;
}
.text_accueil{
    width: 500px;
    position: relative;
    bottom: 349px;
    margin-left: 57px;
}
.gras{
    color: #fff;
    font-weight: 700;
    font-size: 47px;
}
.normal{
    color: #fff;
}
.text_accueil p{
    margin-top: 15px;
}
.welcom{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    color: #fff;
}
.explore{
    font-size: 23px;
    width: 170px;
    height: 50px;
    border-radius: 6px;
    background-color:#fff;
    text-align: center;
    margin-left: 16px;
    margin-top:10px;
}
.text_milieu{
    width: 430px;
    height: 500px;
    text-align: center;
    position: relative;
    bottom: 220px; 
    left: 662px; 
}
.parteners{
    color: #74C69D;
    font-weight: 900;
    font-size: 30px;
}
.lorem{
    font-size: 50px;
    font-weight: 900;
}
.lorem_1{
    font-size: 30px;
    
}
.images img{
    display: inline-block;
    margin: 48px;
    position: relative;
    bottom: 540px;
}
.more {
    padding: 8px;
    font-size: 23px;
    width: 221px;
    height: 42px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 497px;
    left: 780px;
}
.groupe-1 {
    position: relative;
    top: -275px;
    /* bottom: 28px; */
    margin-left: 100px; 
}
.groupe-1 div{
    display: inline-block;
    align-items: center;
}

.lorem-2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.groupe-1-text{
    width: 484px;
    height: 200px;
    position: relative;
    bottom: 311px;
    left: 30px;
}
.more-1 {
    padding: 8px;
    font-size: 23px;
    width: 221px;
    height: 42px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: -60px;
    left: 109px;
}
.groupe-2 div{
    display: inline-block;
    align-items: center;
    position: relative;
    bottom: 82px;
    left: 30px;
}

.lorem-3{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.groupe-2-text{
    width: 484px;
    height: 200px;
    position: relative;
    bottom: 69px;
    left: 30px;
}
.more-2 {
    padding: 8px;
    font-size: 23px;
    width: 221px;
    height: 42px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: -60px;
    left: 109px;
}
.groupe-2-text img{
    position: relative;
    bottom: 397px;
    left: 668px;
}
.nos_talents{
    text-align: center;
    position: relative;
    margin-top: 10px;

}
.nos_talents div{
   display: inline-block;
    margin: 25px;
    text-align: center;
}
.talent_1{
    width: 269px;
    height: 276px;;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.talent_2{
    width: 269px;
    height: 276px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.talent_3{
    width: 269px;
    height: 276px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.talent_4{
    width: 269px;
    height: 276px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    
}
.nos_talents .nom{
    text-align: center;
    font-size: 27px;
    font-weight: 800;
}
.nos_talents .fonction{
    font-size: 33px;
    opacity: 0.4;
}
.team{
    width: 320px;
    height: 164px;
    text-align: center;
    position: relative;
    margin-top: 15px;
    margin-left: 755px;

}
.team .teams{
    font-size: 37px;
    font-weight: 800;
    color: #74C69D;
}
.team .talents{
    font-size: 45px;
    font-weight: 800;
}
.bas{
    margin-top: -505px;
}
.view {
    padding: 8px;
    font-size: 23px;
    width: 221px;
    height: 42px;
    border-radius: 6px;
    background-color: black;
    text-align: center;
    color: #fff;
    margin-left: 773px;
    margin-top: 64px;
}
/* @media screen and (max-width :) {
    
} */